/001/node_modules
/Project/node_modules
/webpack/newWebpackProject/node_modules
/webpack/project/node_modules
/webpack/project/dist
bundle.js
npm-debug.log
.DS_Store
.vscode
# IntelliJ
*.iml
/.idea
*.idea
*.vscode